<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context     http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<import resource="indexers.xml" />
	<import resource="solrFieldMapping.xml" />

	<context:property-placeholder location="classpath:indexer.properties " />

	<bean id="solrWriter" class="org.mediawiki.indexer.io.SolrDumpWriter">
		<constructor-arg name="location" value="${solr.location}" />
		<constructor-arg name="type" value="${solr.type}" />
		<constructor-arg name="bufferSize" value="${solr.buffersize}" />
		<property name="solrFieldMap">
			<ref bean="fieldMap" />
		</property>
		<property name="textIndexers">
			<list>
				<ref bean="coordIndexer" />
				<ref bean="categoryIndexer" />
			</list>
		</property>
		<property name="threadPoolExecutor" ref="threadPoolExecutor" />
	</bean>

	<!-- Filters 'decorate' dump writers -->
	<bean id="progressFilter" class="org.mediawiki.indexer.filter.ProgressFilter">
		<constructor-arg name="sink" ref="solrWriter" />
		<constructor-arg name="interval" value="${progress.interval}" />
	</bean>

	<!-- multi writer wraps individual writers -->
	<bean id="multiWriter" class="org.mediawiki.indexer.io.MultiWriter">
		<property name="writers">
			<list>
				<ref bean="progressFilter" />
			</list>
		</property>
	</bean>

	<!-- the class that parses the xml file -->
	<bean id="xmlReader" class="org.mediawiki.indexer.io.XmlDumpReader">
		<property name="dumpWriter" ref="multiWriter" />
	</bean>

	<bean id="threadPoolExecutor" class="java.util.concurrent.ThreadPoolExecutor">
		<constructor-arg name="corePoolSize" value="${threadpool.minsize}" />
		<constructor-arg name="maximumPoolSize" value="${threadpool.maxsize}" />
		<constructor-arg name="keepAliveTime" value="${threadpool.keepalivetime}" />
		<constructor-arg name="unit">
			<bean class="java.util.concurrent.TimeUnit" factory-method="valueOf">
				<constructor-arg>
					<value>${threadpool.timeunit}</value>
				</constructor-arg>
			</bean>
		</constructor-arg>
		<constructor-arg name="workQueue">
			<bean class="java.util.concurrent.LinkedBlockingQueue">
				<constructor-arg name="capacity" value="100" />
			</bean>
		</constructor-arg>
	</bean>
</beans>
