<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/context     http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<import resource="indexers.xml" />
	<import resource="solrFieldMapping.xml" />

	<context:property-placeholder location="classpath:indexer.properties " />

	<context:component-scan base-package="org.mwindexer" />

	<bean id="solrWriter" class="org.mwindexer.indexer.SolrDumpWriter">
		<constructor-arg name="location" value="${solr.location}" />
		<constructor-arg name="type" value="${solr.type}" />
		<constructor-arg name="bufferSize" value="${solr.buffersize}" />
		<property name="solrFieldMap" ref="fieldMap" />
		<property name="textIndexers">
			<list>
				<bean ref="coordIndexer" />
			</list>
		</property>
	</bean>

	<!-- Filters 'decorate' dump writers -->
	<bean id="progressFilter" class="org.mwindexer.filters.ProgressFilter">
		<constructor-arg name="sink" ref="solrWriter" />
		<constructor-arg name="interval" value="${progress.interval}" />
	</bean>

	<bean id="multiWriter" class="org.mwindexer.indexer.MultiWriter">
		<property name="writers">
			<list>
				<bean ref="solrWriter" />
			</list>
		</property>
	</bean>

	<bean id="xmlReader" class="org.mwindexer.indexer.XmlDumpReader">
		<property name="dumpWriter" ref="multiWriter" />
	</bean>


</beans>